
/* style/cards.css */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://use.typekit.net/aqv1anf.css");

/*
 *   4pt  Brilliant      Perle
 *   5pt  Pearl          Sedanoise
 *   6pt  Nonpareil      Nonpareille
 *   7pt  Minion         Mignonne
 *   8pt  Brevier        Gaillarde Petit-texte
 *   9pt  Bourgeois      Petit-romain Gaillarde
 *  10pt  Long Primer    Philosophie
 *  11pt  Small Pica     Cicero
 *  12pt  Pica           St-Augustin
 *  14pt  English        Gros-texte
 *  18pt  Great Primer   Gros-romain
 *  20pt  Paragon        Petit-paragon
 */

body {
  width: calc(3 * 88mm);
  height: calc(3 * 63mm);
  /*
  font-family: minion-pro;
  */
  font-family: EB Garamond;
}

#card-grid {
  display: grid;
  width: calc(3 * 88mm);
  height: calc(3 * 63mm);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.card {
  box-sizing: border-box;
  border-top: 0.1px dashed lightgrey;
  border-left: 0.1px dashed lightgrey;
  padding: 1rem;
  color: grey;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.4rem 4.9rem 3.5rem auto;
}
.card.south-row {
  border-bottom: 0.1px dashed lightgrey;
}
.card.east-row {
  border-right: 0.1px dashed lightgrey;
}

.poem {
  padding-top: 1.0rem;
  font-size: 11pt;
  text-align: center;
}

.illustration {
  padding-top: 1.0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0.7rem;
  width: 95%;
  margin: 0 auto;
}
.illustration > div {
  justify-self: center;
  align-self: end;
}
.piece {
}

img.sym {
  height: 1.0rem;
}

.head, .foot {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
}
.head .east, .foot .east {
  text-align: right;
}

.head {
  border-bottom: 1px dashed lightgrey;
}
.foot {
  margin-top: 2.1rem;
  border-top: 1px dashed lightgrey;
  padding-top: 0.3rem;
}

